/*BEGIN SN30 Pro Controller Styling*/
/*This class defines the base attributes of the skin*/
.controller.xbox{
    /* The background image is basically the base for the controller's skin. The 
    PS3 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
    and you can observe it as an example. The sticks, buttons, and directional arrows are missing
    because their appropriate elements will be incorperated when their styling is defined below.
    The entirity of the skin's visual styling is done via background images and CSS sprites. */ 
    background: url(RaleighSNES_Assets/ShinSource.png); 
    height: 555px;
    width: 1084px;
}
.xbox.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(RaleighSNES Assets/Disconnected.png);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.xbox.disconnected div {
    display: none;
}
.xbox .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 856px;
    height: 71px;
    position: absolute;
    left: 112px;
}
.xbox .trigger{/* These are the actual triggers themselves */
    width:235px;
    height:71px;
    background: url(RaleighSNES Assets/LTrigger1.png);
    opacity: 0;
}
/* The left and right classes below are used to position the triggers
within the div they're contained in. Since their positions is realtive
to the size of the parent element, we simply resize the parent element 
above to achieve the desired position. */
.xbox .trigger.left{ 
    float: left;
}
.xbox .trigger.right{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: right;
}

/* The bumpers follow the same methodology as the triggers in terms of
placement */
.xbox .bumper{
    width: 239px;
    height: 48px;
    background: url(RaleighSNES Assets/LShoulder1.png);
    opacity: 0;
}
.xbox .bumpers{
    position: absolute;
    width: 863px;
    height: 48px;
    left: 110px;
    top: 80px;
}
.xbox .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.xbox .bumper.left{
  /* Call me lazy or smart, but why should I make 2 bumpers when they're symmetrical
  and I can just rotate them in the browser? Also, note that you most likely won't need
  to use a browser speficic prefix unless it's something that is indeed browser specific.
  NOTE: CLR Browser is basically chrome, so you use '-webkit-' as the browser prefix. */
    float: left;
}
.xbox .bumper.right{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: right;
}
/* This bit of code is for the player indicator, which is represented in
quandrants on the xbox controller. That's note what it's called on the
PS3 controller but it'd be pointless for me to change the HTML for 
something as pedantic as a name. 
.custom .quadrant{
    position: absolute;
    background: url(null.png);
    height: 17px;
    width: 111px;
    top: 140px;
    left: 240px;
}
/* Since the player indicator is just a CSS sprite, we change the 
position of the background to match the player number.
NOTE: Player orderin starts at 0, so p0 = Player 1 */
.xbox .p0{
    background-position: 0 -6px;
}
.xbox .p1{
    background-position: 0 -28px;
}
.xbox .p2{
    background-position: 0 -49px;
}
.xbox .p3{
    background-position: 0 -70px;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.xbox .arrows{
    position: absolute;
    width: 194px;
    height: 65px;
    top: 244px;
    left: 443px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.xbox .back, .custom .start{
    background: url(RaleighSNES Assets/StartSelect1.png);
    width: 75px;
    height: 65px;
    opacity: 0;
}
.xbox .back.pressed, .custom .start.pressed{
    opacity: 1;
}
.xbox .back{
    float: left;
}
.xbox .start{
    float: right;
    background-position: 75px 0;
}
/* Positioning and size of the container for the face buttons */
.xbox .abxy{
    position: absolute;
    width: 287px;
    height: 241px;
    top: 151px;
	right: 77px;
}
/* base class used to simplify the sprite mapping */
.xbox .button{
    position: absolute;
    width: 82px;
    height: 81px;
    background: url(RaleighSNES Assets/FaceButton1.png);
    opacity: 0;
}
.xbox .button.pressed{
    opacity: 1;
}
.xbox .a{
    top: 160px;
    left: 102px;
}
.xbox .b{
    top: 80px;
    left: 205px;
}
.xbox .x{
    top: 80px;
    left: 0;
}
.xbox .y{
    top: 0;
    left: 102px;
}
/* Analog sticks follow the same principles as the triggers in terms of positioning
Note that the rotation of the sticks in hard coded with javascript, so it applies 
the CSS inline. */
.xbox .sticks{
    position: absolute;
    width: 446px;
    height: 134px;
    top: 368px;
    left: 317px;
}
.xbox .stick{
    position: absolute;
    background: url(RaleighSNES Assets/Sticks.png);
    background-position: 0 0;
    height:134px;
    width: 135px;
}
.xbox .stick.pressed{
    background-position: 135px 0;
}
.xbox .stick.left{
    top: 0;
    left: 0;
}
.xbox .stick.right{
    top: 0;
    left: 310px;
}
/* Dpad possitioning and sizing */
.xbox .dpad{
    position: absolute;
    width: 191px;
    height: 191px;
    top: 176px;
    left: 124px;
}
.xbox .face{
    /*background: url(https://i.imgur.com/9yG0Ik7.png);*/
    position: absolute;
    opacity: 0;
}
.xbox .face.up{
	background: url(RaleighSNES Assets/DPadU1.png);
    left: 75px;
    top: 14px;
    /*background-position: 74px 14px;*/
	width: 42px;
	height: 39px;
}
.xbox .face.down{
	background: url(RaleighSNES Assets/DPadD1.png);
    left: 75px;
    top: 138px;
    /*background-position: 74px 138px;*/
	width: 42px;
	height: 39px;
}
.xbox .face.left{
    background: url(RaleighSNES Assets/DPadL1.png);
	top: 75px;
    left: 13px;
    /*background-position: 13px 75px;*/
	width: 39px;
	height: 42px;
}
.xbox .face.right{
    background: url(RaleighSNES Assets/DPadR1.png);
	top: 75px;
    left: 139px;
    /*background-position: 138px 75px;*/
	width: 39px;
	height: 42px;
}
.xbox .face.pressed{
    opacity: 1;
}
/* The following entries are empty because I haven't used them yet, but they
exist for the purpose of displaying a fightstick. Since fightsticks have 
the left and right triggers and digital buttons, there are separate 
html items that allow the triggers to be shown as button presses isntead of
an opacity setting */
.xbox .trigger-button.left{
    
}
.xbox .trigger-button.right{
    
}
.xbox .trigger-button.left.pressed{
    
}
.xbox .trigger-button.right.pressed{
    
}
